<nav>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I am <a href="/">Krzysztof Gurniak</a>.</h2>
  <hr/>
  <ul>
  
  <p style="text-align: center;">
    I do all sorts of things related to programming, video games, art and other cool stuff.
  </p>
  
  <hr/>
  
  <div style="text-align: center;">

  <p>
    <a class="nav-link" style="font-weight:900;" href="/blog/">BLOG</a>
  </p>
  
  <hr/>
  
  <p>
    <a class="nav-link" style="font-weight:900;" href="/games/">GAMES</a>
  </p>
  
  <hr/>

  <p class="nav-link">
    <a class="nav-link" style="font-weight:900;" href="/about/">ABOUT ME</a>
  </p>
  
  </div>

  <hr/>
  <div>
    <div id="social" style="text-align: center;">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
