#game-list > * {margin: 0; padding: 0;}
 
#game-list ul {
  list-style-type: none;
  width: 100%;
}
 
#game-list h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0px;
}
 
#game-list li img {
  float: left;
  margin: 0 15px 0 0;
}
 
#game-list li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
#game-list li {
  padding: 10px;
  overflow: auto;
}
 
#game-list li:hover {
  background: #eee;
  cursor: pointer;
}

/* =Hoverbox Code
----------------------------------------------------------------------*/

.hoverbox
{
	cursor: pointer;
	list-style: none;
	display: inline-block;
}

.hoverbox a
{
	cursor: pointer;
}

.hoverbox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 200px;
	height: 150px;
}

.hoverbox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.hoverbox li:hover
{
	background: #06afa2;
}